nav {
  width: 100vw;
  height: 60px;
  background-color: #282c34;
  font-size: 2rem;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

nav {
  ul {
    height: 60px;
    margin: 0;
    padding: 0rem 5rem 0rem 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }
  li {
    a {
      margin: 0;
      padding: 0;
      align-items: center;
      text-decoration: none;
      color: lightgray;
    }
    &li:hover {
      color: blue;
    }
  }
}
