$font: "IM Fell French Canon", serif;
$primary-color: #ffffff;

html {
  color: $primary-color;
  font-family: $font;
  font-size: 90%;
  text-align: center;
  width: 100vw;
  min-height: 100vh;
  background-color: #282c34;
}

/* .App-header {
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
} */
