$font: "IM Fell French Canon", serif;
$main-color: #282c34;
$nav-color: #ffffff;
$main-background: white;
$nav-background: #282c34;

:root {
  width: 100vw;
  height: 100vw;
}
html {
  font-size: 90%;
  @media screen and (max-width: 80em) {
    font-size: 65%;
  }
  @media screen and (max-width: 60em) {
    font-size: 60%;
  }
  @media screen and (max-width: 37em) {
    font-size: 53%;
  }
}
body {
  color: $main-color;
  font-family: $font;
  text-align: center;
  background-color: white;
}
.main-content {
  align-items: center;
  max-width: 70rem;
  margin: 0 auto;
  margin-top: 6rem;
  padding: 20px 40px;
}
